/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo-container img {
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.logo-container h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    margin-top: 10px;
    flex-grow: 2;
    text-align: center;
}

/* Định dạng chung cho các thẻ <a> bên trong <nav> */
.menu-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.menu-item:hover {
    color: darkblue;
    background-color: #e6e6e6;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wallet-container {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
}

button {
    background-color: aquamarine;
    border: none;
    color: black;
    font-weight: bold;
    margin-left: 15px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: darkcyan;
    color: white;
    transform: scale(1.05);
}

button:active {
    background-color: teal;
    transform: scale(0.95);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: url('https://wallpapers.com/images/featured-full/healthcare-background-ur9es9e3f2t9gfkd.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
}

.banner h2 {
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: antiquewhite;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
